# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Testes com maven
      run: |
        cd Aula-GitHub-Actions
        mvn clean test site

    - name: Upload de artefatos
      uses: actions/upload-artifact@v3
      with:
        name: relatorio-testes
        path: Aula-GitHub-Actions/target/site/


  empacotar:

    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build com maven
      run: |
        cd Aula-GitHub-Actions
        mvn clean install

    - name: Upload de artefatos
      uses: actions/upload-artifact@v3
      with:
        name: jar
        path: Aula-GitHub-Actions/target/*.jar

  notificacao:

    runs-on: ubuntu-latest

    env:
      EMAIL_LIST: chris.souzalima@outlook.com

    steps:
    - name: Executa comandos
      uses: actions/checkout@v3
    - run: sh scripts/shell.sh
 
        


      


